*{
    box-sizing: border-box;
  }
  
#vastaus {font-family: verdana; 
          width:75%;
          max-width:600px;
          margin:auto;}
#vastaus img {width:100%;
              max-width:600px;}
